[user]
	name = QiFen.Pocket
	email = QiFen.Pocket@gmail.com

[winUpdater]
	recentlySeenVersion = 2.24.1.windows.2
	
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[include]
	path = ~/.gitalias
