[user]
	name = Jared.Chang
	email = Jared.Chang@titansoft.com.sg

[winUpdater]
	recentlySeenVersion = 2.24.1.windows.2
	
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool]
    prompt = false
    
[difftool "vscode"]
    prompt = false
    cmd = code --wait --diff $LOCAL $REMOTE

[include]
	path = ~/.gitalias
[credential]
	helper = store
