<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>DA81E8D7-906A-40A3-967D-6EDEC5297D09</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ds</string>
			<key>text</key>
			<string>DocSearch</string>
			<key>url</key>
			<string>https://docsearch.kkbox.group/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
