[user]
	email = JaredChang@kkboxgroup.com
	name = JaredChang

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[include]
	path = ~/.gitalias

[credential]
	helper = store
